h1 {
	color: red;
	background: blue;
}

h4 {
	color: rgb(134,62,148);
	background: rgb(95,205,119);
	
	/*borders 3 properties: width, style, and color*/
	/*border-width: 3px;
	border-style: solid;
	border-color: orange;*/

	/*the following is the shorthand version of the above*/
	border: 5px dashed magenta;
}



li {
	color: #DD32A3;
	background: #9814A4;
}

h2 {
	color: rgba(95,82,193,.5);
	background: wheat;
}

body {
	background: lightslategrey;
	/*background: url("https://images.woodmagazine.mdpcdn.com/sites/default/files/styles/scale_1500_1500/public/image/2016/11/30/WD318111.jpg");
	background-repeat: no-repeat;
	background-size: cover;*/
}